* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: montserrat,sans-serif;
}

.bg-color {
    background-color: #FFE619;
}

main section aside>span {
    position: absolute;
    top: -5vh;
    left: 6.6vw;
}

main section aside {
    width: 100%;
    position: relative;
}

main section aside>div {
    margin-left: 6.5vw;
}

main section .right {
    position: relative;
}

main section .right .sort {
    position: absolute;
    top: -7vh;
    right: 2vw;
}

main section .right .items .item .pic {
    height: 33vh;
    width: 15vw;
}

main section .items .author a {
    color: #1f4f95;
}

main section .bag p {
    font-size: 10px;
    border: solid black 1px;
    margin-left: 8%;
    padding: 3.5% 8%;
    border-radius: 4px;
    cursor: pointer;
}

main section .bag i {
    padding-left: 6%;
    cursor: pointer;
}

li{
    list-style: none;
}

.drop{

    height: 0;
    border: 0;
    transition: all 300ms;
    overflow: hidden;
}

.dropdown:hover .drop{
  border: 1px solid ;
top: 32px;
  height: fit-content;
  overflow: visible;
}
/* .dropdown:hover {
    height: fit-content;
} */

.truck-color{
    background-color: #F5F5F5;
}

  .btn button{
    text-align: center;
    font: 500 10px / 13px Montserrat;
    letter-spacing: .5px;
    color: #000;
    text-transform: uppercase;
    width: 104px !important;
    height: 30px;
    border: 1px solid;
    transition: all 0.3s;
    
  }
  .btn button:hover{
    background-color: black;
    color: #F5F5F5;
  }
  .dropdown > a {
    padding-bottom: 10px;
  }
  .dropdown > a:hover{
    border-bottom: 3px solid black;

  }

  #footer-1{
    position: relative;
  }

  #footer-1::after{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    top: 0;
  }
.footer-content h3{
    border-bottom: 1px solid #cccccc;
}
  .footer-content li{
     margin-top: 1px;
     margin-bottom: 1px;
    font-family: Montserrat;
    letter-spacing: .6px;
    color: #3e434b;
    font-size: 12px;
    font-weight: 500;
    line-height: 26px
  }
  .footer-content li a:hover{
     border-bottom: 1px solid #cccccc;
  }

  .list ul a{
    font-size: 14px;
  font-weight: 600;
  letter-spacing: .7px;
  color: #3e434b;
  line-height: 20px;
  font-family: Montserrat;
  text-transform: capitalize;
  transition: all 0.3s;
  }
  
  .list ul a:hover{
    color: #FF7E00;
  }


@media (max-width:1279px){
    main section .right .items .item{
        margin-bottom:2vh;
    }
}
@media (max-width:1222px){
    main section .right .sort {
        top: -10vh;
        right: 2vw;
    }   
}
@media (max-width:878px){
    main section .right .items .item .pic {
        height: 33vh;
        width: 19vw;
    }
}
@media (max-width:878px){
    main section .right .items .item .pic {
        height: 33vh;
        width: 22vw;
    }
}
@media(max-width:699px){
    
    main section .right .items .item .pic {
        height: 33vh;
        width: 15vw;
    }
    
    main section .items .name {
        font-size: small;
    }
    main section .items .price {
        font-size:small ;
    }
    
    main section .bag p {
        font-size: 8px;
        border: solid black 1px;
        margin-left: 8%;
        padding: 3% 7%;
        border-radius: 4px;
        cursor: pointer;
    }
}
@media (max-width:562px){
    main section .right .sort{
        display: none;
    }
    main section .right .items .item .pic {
        height: 33vh;
        width: 25vw;
    }
}
@media (max-width:542px){
    main section .right .items .item .pic {
        height: 33vh;
        width: 30vw;
    }
}
@media (max-width:480px){
    main section .right .items .item .pic {
        height: 33vh;
        width: 34vw;
    }
}
@media (max-width:480px){
    main section .right .items .item .pic {
        height: 33vh;
        width: 50vw;
    }
}

@media screen and (max-width:400px){
    .padding-responsive{
      padding: 0;
    }
  }


